.container {
	position: relative;
	background-color: red;
	color: white;
}
.theHeader {
	text-align: center;
	background-color: red;
	border: 2px solid red;
}
.page {
	background-color: red;
}
.foo {
	background-color: red;
	border: 2px solid red;
}