.container {
	position: relative;
	background-color: red;
	color: white;
}
.theHeader {
	text-align: center;
	background-color: darkblue;
	border: 2px solid lightgreen;
}
.page {
	background-color: lightcyan;
}
.contentBox {
	background-color: aquamarine;
	border: 2px solid black;
}